@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHatText";
  src: local("RedHatText"), url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
